In [10]:
from scipy import stats
import pandas as pd
import numpy as np

In [14]:
glaxo = pd.read_csv("Datasets\\glaxo_df.csv")
beml = pd.read_csv("Datasets\\beml_df.csv")

In [18]:
glaxo

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

In [20]:
beml

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1134.60 -0.000881
1     2010-01-06  2010-01-06  1139.60  0.004407
2     2010-01-07  2010-01-07  1144.15  0.003993
3     2010-01-08  2010-01-08  1144.05 -0.000087
4     2010-01-11  2010-01-11  1137.00 -0.006162
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26   950.25 -0.021924
1734  2016-12-27  2016-12-27   975.70  0.026782
1735  2016-12-28  2016-12-28   974.40 -0.001332
1736  2016-12-29  2016-12-29   986.05  0.011956
1737  2016-12-30  2016-12-30  1000.60  0.014756

[1738 rows x 4 columns]

# Confidence Interval for Normal Distribution (sigma known)

In [38]:
# CI for 95% for glaxo      # if no value is passed, its by default 95%

glaxo_ci = stats.norm.interval(0.95,glaxo.gain.mean(),glaxo.gain.std())     # %, population mean (sigma), std deviation of sample
beml_ci = stats.norm.interval(0.95,beml.gain.mean(),beml.gain.std())

In [40]:
print( 'Mean at 95% confidence interval for GLAXO is:', np.round(glaxo_ci, 4))
print( 'Mean at 95% confidence interval for BEML is:', np.round(beml_ci, 4))

Mean at 95% confidence interval for GLAXO is: [-0.0258  0.0266]
Mean at 95% confidence interval for BEML is: [-0.0515  0.0521]

In [42]:
# Credit card example - University xbar=1990,n=140,population std dev sigma=2500
std_error=2500/np.sqrt(140)
ci=stats.norm.interval(0.95,1990,std_error)
ci

(1575.8820248378292, 2404.1179751621708)

# Confidence Interval for t-Distribution (sigma unknown)

In [49]:
glaxo_ci = stats.t.interval(0.95,1737,glaxo.gain.mean(),glaxo.gain.std())     # 1737 = total rows-1, degrees of freedom 
beml_ci = stats.t.interval(0.95,1737,beml.gain.mean(),beml.gain.std())

In [51]:
glaxo_ci

(-0.025818392673533995, 0.026590474838718584)

In [53]:
beml_ci

(-0.05156885177136772, 0.05211034792948219)