# steps 

1 - Define null and alternate hypothesis
2 - find z or t value
3 - Specify value of alpha
4 - Calculate P value
5 - Compare P value and alpha

In [12]:
import pandas as pd
from scipy import stats
import numpy as np

<img src="images\\hypo_test_exmaple.png" alt="image" width="500px">

In [6]:
call_center_data = pd.read_csv("Datasets\\Hypo_test.csv")

In [8]:
call_center_data

    Day  Mean Call Duration
0     1                 3.7
1     2                 4.1
2     3                 3.5
3     4                 4.2
4     5                 3.9
5     6                 4.1
6     7                 4.2
7     8                 3.8
8     9                 3.7
9    10                 4.6
10   11                 3.7
11   12                 4.6
12   13                 4.0
13   14                 4.2
14   15                 3.8
15   16                 4.4
16   17                 5.3
17   18                 6.1
18   19                 7.2
19   20                 6.5

In [10]:
call_center_data.dtypes

Day                     int64
Mean Call Duration    float64
dtype: object

# according to problem statement, 

h0 -> µ = 4 i.e.no change
h1 -> µ != 4 i.e.action needs to take on employees

In [14]:
# for day 10

# t_val = (x_bar - meu) / (s/root(n))

t_val = (4.6 - 4)/(3/np.sqrt(50))   # 50 because the column mean call time represents mean call time of 50 calls

In [18]:
t_val

1.4142135623730943

In [44]:
# p value

p_value = 2*stats.t.cdf(-t_val,49)  # as its 2 tail

In [46]:
p_value

0.16362201811838478

In [54]:
call_center_data.columns

Index(['Day', 'Mean Call Duration', 't_value'], dtype='object')

In [50]:
# for entire dataset

call_center_data['t_value'] = (call_center_data['Mean Call Duration'] - 4)/(3/np.sqrt(50))

In [52]:
call_center_data

    Day  Mean Call Duration   t_value
0     1                 3.7 -0.707107
1     2                 4.1  0.235702
2     3                 3.5 -1.178511
3     4                 4.2  0.471405
4     5                 3.9 -0.235702
5     6                 4.1  0.235702
6     7                 4.2  0.471405
7     8                 3.8 -0.471405
8     9                 3.7 -0.707107
9    10                 4.6  1.414214
10   11                 3.7 -0.707107
11   12                 4.6  1.414214
12   13                 4.0  0.000000
13   14                 4.2  0.471405
14   15                 3.8 -0.471405
15   16                 4.4  0.942809
16   17                 5.3  3.064129
17   18                 6.1  4.949747
18   19                 7.2  7.542472
19   20                 6.5  5.892557

In [56]:
# for p values

call_center_data['p_value'] = 2*stats.t.cdf(-(call_center_data['t_value']),49)

In [58]:
call_center_data

    Day  Mean Call Duration   t_value       p_value
0     1                 3.7 -0.707107  1.517150e+00
1     2                 4.1  0.235702  8.146461e-01
2     3                 3.5 -1.178511  1.755716e+00
3     4                 4.2  0.471405  6.394441e-01
4     5                 3.9 -0.235702  1.185354e+00
5     6                 4.1  0.235702  8.146461e-01
6     7                 4.2  0.471405  6.394441e-01
7     8                 3.8 -0.471405  1.360556e+00
8     9                 3.7 -0.707107  1.517150e+00
9    10                 4.6  1.414214  1.636220e-01
10   11                 3.7 -0.707107  1.517150e+00
11   12                 4.6  1.414214  1.636220e-01
12   13                 4.0  0.000000  1.000000e+00
13   14                 4.2  0.471405  6.394441e-01
14   15                 3.8 -0.471405  1.360556e+00
15   16                 4.4  0.942809  3.504040e-01
16   17                 5.3  3.064129  3.543590e-03
17   18                 6.1  4.949747  9.189353e-06
18   19                 7.2  7.542472  9.626040e-10
19   20                 6.5  5.892557  3.424837e-07

In [68]:
# accepted or rejected 


call_center_data['status'] = np.where(call_center_data.p_value<0.05,'Reject H0','Accept H0')

In [72]:
call_center_data.to_csv("Hypotest_output.csv")

<h1>One Sample One Tail Example</h1>
<img src="images\\hypo_test_1_sample_1_tail_example.png" alt="image" style="width: 500px;"/>

In [81]:
import pandas as pd
from scipy import stats

Here,

H0 -> µ1 <= 0.3     # no evidence found 
H0A -> µ1 > 0.3   # evidence found, hence to close the factory

In [30]:
#First we need to create a simple pandas series for given observations

data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [32]:
data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [48]:
p = stats.ttest_1samp(data,0.3)   # here population mean in 0.3
p

TtestResult(statistic=2.2050588385131595, pvalue=0.05853032968489765, df=8)

In [50]:
# The value 'pvalue' is always calculated interanally considering the hypothesis is 2 tailed, 
# hence in order to get pvalue for one tail we need to devide the pvlaue by 2

In [66]:
# to obtain pvalue from test result tuple

obtained_pvalue = p[1]
obtained_pvalue

0.05853032968489765

In [68]:
pvalue = obtained_pvalue/2    # as it is one tail hypotheses
pvalue

0.029265164842448826

here, 
p = 0.02926 < 0.05  so reject null hypothesis i.e factory is causing the problem hence close it

<h1>Two Sample Two Tail Example</h1>
<img src="images\\hypo_test_2_sample_2_tail_example.png" alt="image" width="500px">

Here,

H0 -> µ1 = µ2     # no effect of drug
H0A -> µ1 != µ2    # there is effect of drug

In [71]:
# Again need to covert into pandas serieses

control = pd.Series([91,87,99,77,88,91])
treat = pd.Series([101,110,103,93,99,104])

In [73]:
p = stats.ttest_ind(control,treat)   # t test independent
p

TtestResult(statistic=-3.4456126735364876, pvalue=0.006272124350809803, df=10.0)

In [75]:
# as it is 2 tailed hypotheses, the ontained pvalue will be actual pvalue

In [79]:
pvalue = p[1]
pvalue

0.006272124350809803

here, 
p = 0.006272 < 0.05  so reject null hypothesis i.e significant effect of drug

<h1>2 Proportion t test</h1>\
<img src="images\\hypo_test_2_proportion_t_test.png" alt="image" width="500px">

Here,

H0 -> p1 = p2     # no significant change in placement offers
HA -> p1 != p2    # significant change in placement offers

In [88]:
#Data: Placement Data example

n1 = 247
p1 = .37 # proportion is 0.37

n2 = 308
p2 = .39 # proportion is 0.39

In [90]:
# here to convert the data of 247 and 308 students we need to convert them into arrays as direct proportions cannot be put in formula

In [121]:
import numpy as np
sample1 = np.random.binomial(1,p1,n1)

In [123]:
sample1 # 247 student's data. 0-not placed, 1-placed

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0])

In [125]:
len(sample1)

247

In [127]:
sample2 = np.random.binomial(1,p2,n2)

In [129]:
sample2

array([0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0])

In [131]:
len(sample2)

308

for __proportion examples__, we need to import __statsmodels.api__ while the function is same as for 2 sample 2 tails

In [134]:
import statsmodels.api as sm

In [136]:
p = sm.stats.ttest_ind(sample1,sample2)
p

(-1.0463666097350166, 0.29584893903397813, 553.0)

In [138]:
# the second value represents pvalue, that will vary after every new creation of sample arrays (as 0 and 1's positions changes)

here, 
p = 0.2958>0.05  so accept null hypothesis i.e no significant change in placement opportunities in 2 states