# What does regularization model do?

<img src="images\\Regularization_Models_D1.png" alt="image" width="700px">

- Basically, __Regularization is used to reduce the overfitting problem__
- We have already seen other things to do same task like PCA and feature selection methods
- __Coming to the image__:
  - As we can see, let's suppose the irregular line above is the __Best Fit Line__ for __overfitted__ model
    - i.e. curve is passing though all datapoints with no error
  - In this case __Training Accuracy__ will be __100%__, but when we try to predict for unknown datapoints(red dots below), __it fails__
  - Meaning that, as the model is overfitted, every external datapoint will be far away which will lead to more __error in prediction__
  - So to reduce this error in predictions by reducing overfitting of model we use __Regularization Models__
  - These models try to shift the __Current Best Fit Line__ to a __New Best Fit Line(black line)__ so that it will have <br>
      __less training errors as well as testing errors__

<img src="images\\Regularization_Models_D2.png" alt="image" width="700px" border="2px">
<img src="images\\Regularization_Models_D5.png" alt="image" width="700px" border="2px">

<h3>Our main aim is always to build a model with Low Bias and Low Variance, but is is possible?</h3>

<h2 style="color:limegreen">Bias Variance Trade Off -</h2>

__What is bias?__

- Bias is the difference between the average prediction of our model and the correct value which we are trying to predict
- Model with high bias pays very little attention to the training data and __oversimplifies the model__
- It always leads to high error on training and testing data

__What is variance?__

- Variance is the variability of the model prediction for a given data point or a value which tells us spread of our data
- Model with high variance pays a lot of attention to training data and does not generalize on the data which it hasn't seen before
- As a result, such models perform very well on training data but has high errors on testing data


<h4>Trade of means one increases other decreases and vice versa</h4>

- If we try to increase training accuracy, testing accuracy will decrease
- Similarly if you try to increase testing accuracy, training accuracy decrease
- This is known as __BIAS VARIANCE TRADE OFF__

<h2 style="color:limegreen">LASSO(L1) - </h2>

<img src="images\\Regularization_Models_D3.png" alt="image" width="700px" border="2px">

__What is Slope?__

- We can see, some formulations above but in general Slope is nothing but __rise over run__
- i.e. With change in X how much Y changes
- We also know __linear regression equation: y = ß<sub>0</sub> + ß<sub>1</sub>X<sub>1</sub> + ß<sub>2</sub>X<sub>2</sub> + error__
- In this equation every value ß correponds to slope associated to X

__How LASSO works here -__

- So whenever we try to find best fit line, we calculate __MSE__ i.e. Mean Squared Error
- In LASSO model, the __Best fit line__ is shifted to __new best fit line__ by using __L1 = MSE + α * abs(slope)__
- In short, it shifts the line by changing the slope
- For multiple lines, __L1 = MSE + α * |M<sub>1</sub> + M<sub>2</sub> + M<sub>3</sub>+...+ M<sub>n</sub>|__, where M is slope

__LASSO can also be used to get important features__

- LASSO tries to make minimal slope of the lines to __0__ so that they won't have consideration and the columns can be vomitted from dataset
- Like in img above, it tries to make ß0 = 0.001 to 0

<h2 style="color:limegreen">Ridge and Elastic Net - </h2>

<img src="images\\Regularization_Models_D4.png" alt="image" width="700px" border="2px">

__Ridge model -__

- Ridge model is very much similar to LASSO
- The only difference is that, __instead of absolute slope, it takes squares of them__
- i.e. __L2 = MSE + α * (slope)^2__, and for multiple lines __L1 = MSE + α * (M<sub>1</sub> + M<sub>2</sub> + M<sub>3</sub>+...+ M<sub>n</sub>)^2__


__Elastic Net -__

- It is combination of both L1 and L2. __EN = L1 + L2__
- __EN = MSE + α * abs(slope) + α * (slope)^2__

# PPT Part -

<h2 style="color:red">Ridge Regression (or Tikhonov regularization) -</h2>

- It is a technique for analyzing multiple __regression__ data that suffer from __multicollinaerity__
- It adds __penalty equivalent__ to half of __squares of the magnitude__ of coefficients


<img src="images\\Regularization_Models_D6.png" alt="image" width="300px" style="margin-left:200px">

- If lambda is 0 then we will get back OLS. Whereas, if lambda is very large then a larger weight is added to loss function
- This will also cause the model to under-fit
- It reduces the model complexity by __coefficient shrinkage__, means it does not make coefficients as 0 __like L1__

__Ridge Regression is a regularized version of Linear Regression__

- A regularization term equal to <img src="images\\Regularization_Models_D7.png" alt="image" width="80px"> is added to the __cost function__
- This forces the learning algorithm to not only fit the data but also __keep the model weights as small as possible__
- The __hyperparameter α__ controls how much you want to regularize the model
- If __α = 0__, then Ridge Regression is just Linear Regression
- If __α is very large__, then all weights end up very close to 0 and the result is a flat line going through the __data's mean__

<img src="images\\Regularization_Models_D8.png" alt="image" width="250px" style="margin-left:30%">

<div style="display:flex;flex-direction:row;justify-content:space-between">
    
<img src="images\\Regularization_Models_D9.png" alt="image" width="50%" border="2px">
<img src="images\\Regularization_Models_D10.png" alt="image" width="40%" border="2px">

</div>

<h2 style="color:red">Lasso Regression (Least Absolute Shrinkage and Selection Operator)-</h2>

- It is another __regularized version of Linear Regression__
- Just like Ridge Regression, it adds a regularization term to the __cost function__
- But it uses the __l1 or ell(1) norm of the weight vector__ instead of half the square of the __l2 or ell(2)__ norm

<img src="images\\Regularization_Models_D11.png" alt="image" width="250px" style="margin-left:30%">

- It is a regression analysis method that performs __both variable selection and regularization__
- Performs __L1__ regularization, adds panalty equivalent to __absolute value of the magnitude__ of coefficients

<img src="images\\Regularization_Models_D12.png" alt="image" width="400px" style="margin-left:20%">

- If __lamda is 0__ then we will get back to __OLS__.
- Whereas, very large value will make coefficients __0__ hence it will __under-fit__
- Useful when more number of variables are there - __feature selection__

<div style="display:flex;flex-direction:row;justify-content:space-between">
    
<img src="images\\Regularization_Models_D13.png" alt="image" width="50%" border="2px">
<img src="images\\Regularization_Models_D14.png" alt="image" width="40%" border="2px">

</div>

<h2 style="color:red">Elastic Net -</h2>

<h3>Elastic Net is middlegroud between Ridge and Lasso Regression</h3>

- The regularization term is __simple mix of Ridge and Lasso's regularization terms__ and you can __control the mix ratio r__
- When __r = 0__, Elastic Net is equivalent to __Ridge Regression__
- When __r = 1__, Elastic Net is equivalent to __Lasso Regression__

<img src="images\\Regularization_Models_D15.png" alt="image" width="350px" style="margin-left:30%">

<h2 style="color:red">Which one to be used??</h3>

- When should ye can use plain Linear Regression, Ridge, Lasso or Elastic Net
- It is almost preferable to have at least a little bit of regularization, so generally you should __avoid plain Linear Regression__
- __Ridge is a good default__, but if we suspect that only a few features are useful, we should prefer __Lasso or Elastic Net__ because <br>
    they tend to reduce the useless features' weights down to __0__, as we have discussed

In genral, __Elasctic Net is preffered over Lasso__

<img src="images\\Regularization_Models_D16.png" alt="image" width="600px">

<div style="border:1px solid black;padding:20px;background-color:beige">

<h1 style="color:red">Summary</h1>


<h4 style="line-height:1.3;color:slateblue">Regularization is used to reduce the over dependence on any particular independent variable by adding the penalty 
    term to <br> the Loss function. This term prevents the coefficients of the independent variables to take extreme values</h4>

____

- __Ridge Regression adds L2 regularization penalty term to loss function__
- This term reduces the coefficients but __does not make them 0__ and thus __doesn't eliminate any independent variable__ completely
- It can be used to measure the impact of the different independent variables


____

- __Lasso Regression adds L2 regularization penalty term to loss function__
- This term reduces the coefficients as well as __makes them 0__ thus effectively __eliminate the corresponding independent variables__ completely
- It can be used for __feature selection__

____

- __Elastic Net is a combination of both of the above regularization.__
- It contains both the __L1 and L2 as its penalty term__
- It performs better than Ridge and Lasso Regression for most of the test cases

</div>

# Example Code

In [75]:
# In this code we will also be discusing about SimpleImputer and Ordinal Encoder

In [76]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
# fillna(): replaces na with mean mode or median from single column at a time.
# SimpleImputer will replace na from multiple columns at a time

import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
# We have seen OHE: for x variables, Lable Encoding: for y variable
# OrdinalEncoder: works same as Lable Encoder but on x variables

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet

import warnings
warnings.filterwarnings('ignore')

In [77]:
df = pd.read_csv("Datasets\\cars_new.csv")
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [78]:
df.info()
# ? is missing value because of it datatype has become object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.2+ KB

In [79]:
df.isna().sum() # not identified ? as missing value

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [80]:
df['normalized-losses'].value_counts()

?      41
161    11
91      8
150     7
134     6
128     6
104     6
85      5
94      5
65      5
102     5
74      5
168     5
103     5
95      5
106     4
93      4
118     4
148     4
122     4
83      3
125     3
154     3
115     3
137     3
101     3
119     2
87      2
89      2
192     2
197     2
158     2
81      2
188     2
194     2
153     2
129     2
108     2
110     2
164     2
145     2
113     2
256     1
107     1
90      1
231     1
142     1
121     1
78      1
98      1
186     1
77      1
Name: normalized-losses, dtype: int64

In [81]:
df[df['horsepower']=='?']

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
130,0,?,renault,gas,wagon,fwd,front,66.5,55.2,ohc,132,?,23,31,9295
131,2,?,renault,gas,hatchback,fwd,front,66.6,50.5,ohc,132,?,23,31,9895

In [82]:
df.replace('?',np.nan,inplace=True)

In [83]:
df.isna().sum()   # Now nulls will be there

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [84]:
df.dtypes     # We have converted to all floats, still dtypes will be as it was

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [85]:
# Before changung the dtypes(can do it after too), let's impute missing values with SimpleImputer

In [86]:
si = SimpleImputer(strategy='median')

In [87]:
df.iloc[:,[1,11]].head()   # 2 columns containing null values

  normalized-losses horsepower
0               NaN        111
1               NaN        111
2               NaN        154
3               164        102
4               164        115

In [88]:
df.iloc[:,[1,11]] = si.fit_transform(df.iloc[:,[1,11]])
# fit will calculate median of col 1 and 11, transform: replace missing value by median

In [89]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [41]:
df.select_dtypes(int).head() # will display only colums of int data type, try float

   symboling  engine-size  city-mpg  highway-mpg  price
0          3          130        21           27  13495
1          3          130        21           27  16500
2          1          152        19           26  16500
3          2          109        24           30  13950
4          2          136        18           22  17450

In [43]:
df.select_dtypes([int,float]).head() # all numerical columns

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,64.1,48.8,130,111.0,21,27,13495
1,3,115.0,64.1,48.8,130,111.0,21,27,16500
2,1,115.0,65.5,52.4,152,154.0,19,26,16500
3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,2,164.0,66.4,54.3,136,115.0,18,22,17450

In [47]:
df.select_dtypes(object).head() # all numerical columns

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

In [49]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [107]:
# Somehow SimpleImputer changes the dtypes of bot col1 and col11

In [109]:
df.select_dtypes(object)

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [119]:
# We have to encode this columns for model building 

# Let's get column names first

cat_col = df.select_dtypes(object).columns
cat_col

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [121]:
df[cat_col].head()

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

In [123]:
# Applying Ordinal Encoder for label encoding all above independent variables

oe = OrdinalEncoder() # convert categorical values to numerical
df[cat_col] = oe.fit_transform(df[cat_col])

In [125]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,13495
1,3,115.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,16500
2,1,115.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,23,28,16845
201,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,160.0,19,25,19045
202,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,134.0,18,23,21485
203,-1,95.0,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,106.0,26,27,22470
204,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,19,25,22625

In [127]:
# So all columns with object dtype are now label encode and not one-hot encode, meaning it won't split into multiple columns

## __Model Building__

In [131]:
# Diving into x and y

x = df.iloc[:,:-1]
y = df['price']

In [133]:
# train test split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [137]:
# Linear Regression Model 

lr = LinearRegression() 
lr.fit(x_train,y_train)
preds = lr.predict(x_test)
preds

array([ 6114.11943789,  6899.1299745 ,  5179.12129606,  6534.49022809,
        9125.91144455, 26384.12259969,  7406.15558344,   895.58275157,
        5172.9291232 , 13513.24663171, 15407.85345859, 14421.55136235,
       16418.89788598, 11145.35574554, 16463.66533212, 13896.61774947,
        7335.98228673,  8845.0632645 , 10862.74899523,  7555.18709439,
       11006.99145217,  6830.04912601, 13638.73999814,  6363.9621527 ,
       13732.90563984,  8845.0632645 , 15040.20874209,  6544.19455256,
        4706.60204753,  9314.78618354,  8128.3940468 , 14321.0634702 ,
       25655.82279003, 11987.68138692, 19723.90650907,  6557.53154026,
        8154.91470876, 30658.97297566,  9834.8439003 , 16923.44920496,
        6520.66900847, 20194.14945986,  7692.55861481,  8459.52258636,
        8670.04245903,  7166.21791784, 40486.41308962,  7569.40057796,
       17170.51789287, 18954.92930717, 26190.76513016, 16914.80136249,
       21856.35461232,  6225.96759922, 13090.60124574,  7294.0335782 ,
       11026.86555708, 11260.61809773, 22672.43646491,  8292.10615643,
        9523.00301461, 11224.3749507 ])

In [139]:
lr.intercept_ # y intercept i.e. c value

-64935.113579782475

In [141]:
lr.coef_ # slope or coefficient or weight

array([ 5.71727164e+01,  4.76320989e-01, -2.01309566e+02, -6.22705136e+02,
       -1.63712110e+02,  1.88863899e+03,  1.63884484e+04,  7.90632094e+02,
        3.61221503e+02,  2.81207534e+02,  9.82290864e+01, -1.06474945e+01,
        3.08435166e+02, -4.17126915e+02])

In [145]:
lr.score(x_train,y_train),lr.score(x_test,y_test) # Train accuracy, Test accuracy
# overfitted model as high train accuracy and low test accuracy

(0.8504229026078213, 0.7964854785429522)

## __Lasso (L1) Regression -__

In [153]:
# after lasso, train accuracy will decrease but test accuracy will increase

l1 = Lasso() # alpha = 0.1 by default
l1.fit(x_train,y_train)
l1.score(x_train,y_train),l1.score(x_test,y_test)

# we got same accuracy and overfitted model

(0.8504215478243033, 0.7966615211575689)

In [155]:
l1.coef_
# same as previous results: no coefficient is 0 so go for hyperparameter tuning of alpha

array([ 5.70766693e+01,  4.67141700e-01, -2.01139953e+02, -6.14206970e+02,
       -1.64751649e+02,  1.88558824e+03,  1.63181959e+04,  7.88680118e+02,
        3.61783500e+02,  2.81248690e+02,  9.83193653e+01, -1.05310631e+01,
        3.07274772e+02, -4.15725804e+02])

<h2 style="color:green">Hyperparameter Tuning - </h2>

In [166]:
for i in range(100,200): # try 50 to 100, 100 to 200
  l1 = Lasso(alpha = i)
  l1.fit(x_train,y_train)
  print(f"Alpha: {i} Train: {l1.score(x_train,y_train)} Test: {l1.score(x_test,y_test)}")

Alpha: 100 Train: 0.8372483974026499 Test: 0.8092040910955615
Alpha: 101 Train: 0.8369899229541409 Test: 0.8092979610738256
Alpha: 102 Train: 0.8367288785613758 Test: 0.8093910017461713
Alpha: 103 Train: 0.8364651676681871 Test: 0.8094832684251523
Alpha: 104 Train: 0.8361989818307348 Test: 0.809574650362481
Alpha: 105 Train: 0.8359302253870347 Test: 0.8096652035299013
Alpha: 106 Train: 0.8356588978359675 Test: 0.8097549282309101
Alpha: 107 Train: 0.8353849991129143 Test: 0.8098438245155561
Alpha: 108 Train: 0.8351084257059384 Test: 0.8099319454841268
Alpha: 109 Train: 0.8348293842179736 Test: 0.8100191840285436
Alpha: 110 Train: 0.8345477714936768 Test: 0.8101055942385992
Alpha: 111 Train: 0.8342635877040373 Test: 0.8101911760417996
Alpha: 112 Train: 0.8339767222137543 Test: 0.8102759813628974
Alpha: 113 Train: 0.8336873954613211 Test: 0.8103599056262563
Alpha: 114 Train: 0.8333954973355284 Test: 0.8104430016665038
Alpha: 115 Train: 0.8331010276993127 Test: 0.8105252695475362
Alpha: 116 Train: 0.8328038691204882 Test: 0.8106067595950119
Alpha: 117 Train: 0.8325042561318755 Test: 0.8106873701557592
Alpha: 118 Train: 0.8322020717101931 Test: 0.8107671525374287
Alpha: 119 Train: 0.8318973159092646 Test: 0.8108461067199921
Alpha: 120 Train: 0.8315898643306087 Test: 0.8109242812985726
Alpha: 121 Train: 0.8312799660294592 Test: 0.8110015778648528
Alpha: 122 Train: 0.8309674969080169 Test: 0.8110780460553539
Alpha: 123 Train: 0.8306523257994232 Test: 0.8111537336006445
Alpha: 124 Train: 0.8303347149155726 Test: 0.8112285440004985
Alpha: 125 Train: 0.8300145320017067 Test: 0.8113025265087273
Alpha: 126 Train: 0.8296917792068185 Test: 0.8113756803829955
Alpha: 127 Train: 0.8293663164754229 Test: 0.8114480518748997
Alpha: 128 Train: 0.8290384195488705 Test: 0.8115195488665821
Alpha: 129 Train: 0.8287079533571842 Test: 0.8115902170896445
Alpha: 130 Train: 0.8283747703082013 Test: 0.8116601017520375
Alpha: 131 Train: 0.8280391586533506 Test: 0.8117291135142942
Alpha: 132 Train: 0.8277009785176215 Test: 0.8117972963383392
Alpha: 133 Train: 0.8273600743513215 Test: 0.8118646943166661
Alpha: 134 Train: 0.8270167519203321 Test: 0.811931219780706
Alpha: 135 Train: 0.8266708579462199 Test: 0.8119969172586022
Alpha: 136 Train: 0.8263223897906081 Test: 0.8120617874347755
Alpha: 137 Train: 0.8259711936341725 Test: 0.8121258693292268
Alpha: 138 Train: 0.8256175865009793 Test: 0.8121890813322454
Alpha: 139 Train: 0.8252612405575874 Test: 0.8122515055400706
Alpha: 140 Train: 0.8249024913515863 Test: 0.8123130602354285
Alpha: 141 Train: 0.8245411708666053 Test: 0.8123737869230407
Alpha: 142 Train: 0.8241771102161817 Test: 0.8124337227741055
Alpha: 143 Train: 0.8238106530253966 Test: 0.8124927911020219
Alpha: 144 Train: 0.8234416172134693 Test: 0.8125510330332
Alpha: 145 Train: 0.8230698280784812 Test: 0.8126084835163166
Alpha: 146 Train: 0.822695650335453 Test: 0.8126650681694728
Alpha: 147 Train: 0.8223189013367542 Test: 0.8127208248289377
Alpha: 148 Train: 0.8219393940513868 Test: 0.81277578760723
Alpha: 149 Train: 0.8215575086176155 Test: 0.812829886091909
Alpha: 150 Train: 0.8211730520262539 Test: 0.8128831566524961
Alpha: 151 Train: 0.8207858295570519 Test: 0.8129356313528256
Alpha: 152 Train: 0.8203962392797491 Test: 0.8129872435786125
Alpha: 153 Train: 0.8200038659827095 Test: 0.8130380604531804
Alpha: 154 Train: 0.8196091274468164 Test: 0.8130880167485962
Alpha: 155 Train: 0.8192116048584221 Test: 0.8131371754207154
Alpha: 156 Train: 0.8188117256012319 Test: 0.8131854746070425
Alpha: 157 Train: 0.8184092752900354 Test: 0.8132329459427782
Alpha: 158 Train: 0.8180040340448277 Test: 0.813279617108145
Alpha: 159 Train: 0.8175964432833531 Test: 0.813325431392701
Alpha: 160 Train: 0.8171860531186915 Test: 0.8133704442145949
Alpha: 161 Train: 0.8167733221546687 Test: 0.8134146014856178
Alpha: 162 Train: 0.8163577832181741 Test: 0.8134579558972019
Alpha: 163 Train: 0.8159399130313314 Test: 0.813500456125974
Alpha: 164 Train: 0.8155192326252294 Test: 0.813542151390936
Alpha: 165 Train: 0.8150962240434019 Test: 0.8135829946288717
Alpha: 166 Train: 0.8146706427093287 Test: 0.8136230103114316
Alpha: 167 Train: 0.814242239042142 Test: 0.8136622185802582
Alpha: 168 Train: 0.813811518415617 Test: 0.8137005774315417
Alpha: 169 Train: 0.8133779670184814 Test: 0.8137381271523585
Alpha: 170 Train: 0.812942107429732 Test: 0.8137748292356427
Alpha: 171 Train: 0.8125034086683014 Test: 0.8138107203716056
Alpha: 172 Train: 0.8120624104546714 Test: 0.8138457657584284
Alpha: 173 Train: 0.811618564748458 Test: 0.8138799982828289
Alpha: 174 Train: 0.8111721398138245 Test: 0.8139134011642211
Alpha: 175 Train: 0.8107234361496892 Test: 0.8139459609474126
Alpha: 176 Train: 0.8102718648859879 Test: 0.8139777051490645
Alpha: 177 Train: 0.8098180239059947 Test: 0.8140086084473979
Alpha: 178 Train: 0.8093613132661213 Test: 0.8140386937712966
Alpha: 179 Train: 0.808902341338292 Test: 0.8140679405535108
Alpha: 180 Train: 0.8084404898252787 Test: 0.8140963672263584
Alpha: 181 Train: 0.8079760625391161 Test: 0.8141239640881855
Alpha: 182 Train: 0.8075093897331425 Test: 0.8141507260035141
Alpha: 183 Train: 0.807039816130038 Test: 0.8141766644353039
Alpha: 184 Train: 0.8065680080542682 Test: 0.8142017704223898
Alpha: 185 Train: 0.8060932933491101 Test: 0.8142260504255304
Alpha: 186 Train: 0.8056160025244101 Test: 0.8142495005999418
Alpha: 187 Train: 0.8051364964854258 Test: 0.8142721223415648
Alpha: 188 Train: 0.8046540668179516 Test: 0.8142939142513763
Alpha: 189 Train: 0.8041690622414062 Test: 0.814314876357193
Alpha: 190 Train: 0.8036814832401015 Test: 0.8143350086553349
Alpha: 191 Train: 0.8031917275605562 Test: 0.8143543185997577
Alpha: 192 Train: 0.802699025870538 Test: 0.8143727932940247
Alpha: 193 Train: 0.8022037529436445 Test: 0.8143904384269914
Alpha: 194 Train: 0.801705909538015 Test: 0.8144072540570486
Alpha: 195 Train: 0.8012054966196824 Test: 0.8144232402636585
Alpha: 196 Train: 0.8007025151793871 Test: 0.8144383971441083
Alpha: 197 Train: 0.8001973998845262 Test: 0.8144527419474972
Alpha: 198 Train: 0.7996892947832841 Test: 0.8144662423958204
Alpha: 199 Train: 0.7991786241960611 Test: 0.8144789139191481

In [168]:
# as alpha increases train accuracy decreases and test accuracy increases
# so try big alpha value
# in above code try changing range from 50 to 100, 150 to 200

l1 = Lasso(alpha = 175) # select any value where train and test accuracy is same
l1.fit(x_train,y_train)
l1.score(x_train,y_train),l1.score(x_test,y_test)

(0.8107234361496892, 0.8139459609474126)

In [170]:
l1.coef_ # check columns whose slope is 0. They are not important in model building
# normalized-losses, fuel-type are not important

array([  26.15091464,   -0.        , -173.02547787,   -0.        ,
       -363.80743898, 1247.84193718, 3867.709301  ,  391.04314711,
        451.57194036,  297.35122938,  113.32977728,   11.00742675,
         70.90090498, -160.35202828])

In [172]:
x_train.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'body-style',
       'drive-wheels', 'engine-location', 'width', 'height', 'engine-type',
       'engine-size', 'horsepower', 'city-mpg', 'highway-mpg'],
      dtype='object')

## __Ridge (L2) Regression -__

In [180]:
l2 = Ridge()
l2.fit(x_train,y_train)
l2.score(x_train,y_train), l2.score(x_test,y_test)

(0.8435840853399228, 0.8075632224690532)

In [184]:
for i in range(1,100):
    l2 = Ridge(alpha=i)
    l2.fit(x_train,y_train)
    print(f"Alpha: {i} Train: {l2.score(x_train,y_train)} Test: {l2.score(x_test,y_test)}")
    # alpha = 6 to 10 same train and test accuracies

Alpha: 1 Train: 0.8435840853399228 Test: 0.8075632224690532
Alpha: 2 Train: 0.8356695734845091 Test: 0.8112192014374253
Alpha: 3 Train: 0.8296379623431074 Test: 0.8129299663310144
Alpha: 4 Train: 0.8250699092246865 Test: 0.8138839096972438
Alpha: 5 Train: 0.8215093087765014 Test: 0.8144682684596012
Alpha: 6 Train: 0.818648610383485 Test: 0.8148435627265228
Alpha: 7 Train: 0.8162882573020809 Test: 0.8150880725612084
Alpha: 8 Train: 0.8142964263180523 Test: 0.815244730507158
Alpha: 9 Train: 0.812583522729097 Test: 0.8153392574436445
Alpha: 10 Train: 0.8110868722186452 Test: 0.8153881483263247
Alpha: 11 Train: 0.8097614513602517 Test: 0.8154025610279507
Alpha: 12 Train: 0.8085741366835051 Test: 0.8153903693701572
Alpha: 13 Train: 0.8075000372738094 Test: 0.815357321289201
Alpha: 14 Train: 0.8065200924084595 Test: 0.8153077294072232
Alpha: 15 Train: 0.8056194580416447 Test: 0.8152449025615434
Alpha: 16 Train: 0.8047863980733031 Test: 0.815171426484327
Alpha: 17 Train: 0.8040115065187472 Test: 0.8150893527689591
Alpha: 18 Train: 0.8032871514648677 Test: 0.8150003299437462
Alpha: 19 Train: 0.8026070707304608 Test: 0.8149056967781803
Alpha: 20 Train: 0.8019660732378707 Test: 0.8148065502246252
Alpha: 21 Train: 0.8013598153077787 Test: 0.8147037958811016
Alpha: 22 Train: 0.8007846308878104 Test: 0.8145981861304737
Alpha: 23 Train: 0.8002374011637663 Test: 0.8144903494117508
Alpha: 24 Train: 0.7997154533085169 Test: 0.814380812992724
Alpha: 25 Train: 0.799216481051841 Test: 0.8142700209017133
Alpha: 26 Train: 0.7987384817763887 Test: 0.814158348199973
Alpha: 27 Train: 0.7982797062609372 Test: 0.8140461124511116
Alpha: 28 Train: 0.7978386181969567 Test: 0.8139335830177276
Alpha: 29 Train: 0.7974138613263304 Test: 0.8138209886554859
Alpha: 30 Train: 0.7970042325726074 Test: 0.8137085237599926
Alpha: 31 Train: 0.796608659923398 Test: 0.8135963535381275
Alpha: 32 Train: 0.7962261841073035 Test: 0.8134846183137234
Alpha: 33 Train: 0.795855943322788 Test: 0.8133734371313504
Alpha: 34 Train: 0.7954971604380746 Test: 0.8132629107871042
Alpha: 35 Train: 0.7951491322043275 Test: 0.813153124388708
Alpha: 36 Train: 0.7948112201189454 Test: 0.8130441495267422
Alpha: 37 Train: 0.7944828426489627 Test: 0.8129360461229016
Alpha: 38 Train: 0.7941634685815293 Test: 0.8128288640086808
Alpha: 39 Train: 0.7938526113131447 Test: 0.8127226442780507
Alpha: 40 Train: 0.7935498239245846 Test: 0.8126174204498456
Alpha: 41 Train: 0.7932546949164727 Test: 0.8125132194693003
Alpha: 42 Train: 0.7929668445028011 Test: 0.8124100625731354
Alpha: 43 Train: 0.7926859213776736 Test: 0.8123079660384831
Alpha: 44 Train: 0.7924115998850197 Test: 0.8122069418326153
Alpha: 45 Train: 0.7921435775328081 Test: 0.8121069981777134
Alpha: 46 Train: 0.7918815728028477 Test: 0.8120081400426533
Alpha: 47 Train: 0.7916253232151244 Test: 0.811910369571946
Alpha: 48 Train: 0.7913745836120685 Test: 0.8118136864604218
Alpha: 49 Train: 0.7911291246334807 Test: 0.8117180882809594
Alpha: 50 Train: 0.7908887313572606 Test: 0.8116235707715008
Alpha: 51 Train: 0.7906532020847592 Test: 0.8115301280866843
Alpha: 52 Train: 0.7904223472526622 Test: 0.8114377530186674
Alpha: 53 Train: 0.7901959884558678 Test: 0.811346437191079
Alpha: 54 Train: 0.7899739575680174 Test: 0.8112561712294915
Alpha: 55 Train: 0.7897560959481498 Test: 0.8111669449113402
Alpha: 56 Train: 0.7895422537235102 Test: 0.811078747297838
Alpha: 57 Train: 0.7893322891398644 Test: 0.8109915668500709
Alpha: 58 Train: 0.7891260679717907 Test: 0.8109053915312062
Alpha: 59 Train: 0.7889234629863806 Test: 0.8108202088964673
Alpha: 60 Train: 0.788724353454611 Test: 0.8107360061723383
Alpha: 61 Train: 0.7885286247053471 Test: 0.8106527703262637
Alpha: 62 Train: 0.7883361677175604 Test: 0.8105704881279608
Alpha: 63 Train: 0.7881468787468562 Test: 0.8104891462033195
Alpha: 64 Train: 0.7879606589828785 Test: 0.8104087310817415
Alpha: 65 Train: 0.7877774142345472 Test: 0.8103292292376812
Alpha: 66 Train: 0.7875970546404287 Test: 0.8102506271270438
Alpha: 67 Train: 0.7874194944018464 Test: 0.8101729112190275
Alpha: 68 Train: 0.7872446515365974 Test: 0.8100960680239269
Alpha: 69 Train: 0.7870724476513742 Test: 0.8100200841173539
Alpha: 70 Train: 0.7869028077311929 Test: 0.8099449461612762
Alpha: 71 Train: 0.7867356599443074 Test: 0.809870640922232
Alpha: 72 Train: 0.7865709354612442 Test: 0.809797155287042
Alpha: 73 Train: 0.7864085682867381 Test: 0.8097244762762874
Alpha: 74 Train: 0.7862484951034633 Test: 0.8096525910558197
Alpha: 75 Train: 0.786090655126568 Test: 0.8095814869465083
Alpha: 76 Train: 0.7859349899681198 Test: 0.8095111514324314
Alpha: 77 Train: 0.7857814435106489 Test: 0.8094415721676849
Alpha: 78 Train: 0.7856299617890593 Test: 0.8093727369819633
Alpha: 79 Train: 0.7854804928802399 Test: 0.8093046338850488
Alpha: 80 Train: 0.785332986799778 Test: 0.8092372510703421
Alpha: 81 Train: 0.785187395405222 Test: 0.809170576917534
Alpha: 82 Train: 0.7850436723053973 Test: 0.8091045999945259
Alpha: 83 Train: 0.7849017727753196 Test: 0.8090393090586789
Alpha: 84 Train: 0.78476165367629 Test: 0.808974693057478
Alpha: 85 Train: 0.7846232733807958 Test: 0.8089107411286774
Alpha: 86 Train: 0.7844865917018649 Test: 0.8088474425999876
Alpha: 87 Train: 0.7843515698265606 Test: 0.8087847869883675
Alpha: 88 Train: 0.7842181702533259 Test: 0.8087227639989626
Alpha: 89 Train: 0.7840863567329016 Test: 0.8086613635237427
Alpha: 90 Train: 0.7839560942125866 Test: 0.8086005756398726
Alpha: 91 Train: 0.7838273487836 Test: 0.8085403906078548
Alpha: 92 Train: 0.7837000876313459 Test: 0.8084807988694748
Alpha: 93 Train: 0.7835742789883862 Test: 0.80842179104558
Alpha: 94 Train: 0.783449892089942 Test: 0.8083633579337145
Alpha: 95 Train: 0.7833268971317657 Test: 0.8083054905056333
Alpha: 96 Train: 0.7832052652302253 Test: 0.8082481799047188
Alpha: 97 Train: 0.7830849683844653 Test: 0.8081914174433134
Alpha: 98 Train: 0.7829659794405157 Test: 0.8081351945999873
Alpha: 99 Train: 0.7828482720572245 Test: 0.8080795030167582

In [186]:
l2 = Ridge(alpha = 8)
l2.fit(x_train,y_train)
l2.score(x_train,y_train),l2.score(x_test,y_test)

(0.8142964263180523, 0.815244730507158)

In [190]:
l2.coef_   # It doen't make any slope to 0

array([ 232.21099351,   -3.20670335, -189.34649798, -973.96360026,
       -611.0457004 , 1676.24489552, 3064.9010721 ,  383.53935829,
        561.24716944,  513.14971523,  103.43849153,   20.83054838,
        211.07802458, -276.03878654])

## __Elastic Net__

In [194]:
en = ElasticNet(alpha = 1) # default alpha=0.1
en.fit(x_train,y_train)
en.score(x_train,y_train),en.score(x_test,y_test)

(0.7866253599240466, 0.809826481725613)

In [196]:
# We can go for Ridge Regression or Lasso